from launch import LaunchDescription
from launch_ros.actions import Node
import os


def generate_launch_description():
    config_path = os.path.join(
        os.getcwd(), 'src', 'task02', 'config', 'task02.yaml'
    )

    return LaunchDescription([
        Node(
            package='task02',
            executable='publisher',
            name='task02_publisher',
            output='screen',
            parameters=[config_path],
        ),
    ])